<header class="menu">
  <nav>
    <img class="menu-logo" src="{{header.menuLogo.image.url}}" alt="{{header.menuLogo.image.title}}">
    <ul class="menu-list">
      <li class="menu-item"><a class="menu-link" href="{{header.menuLogo.url}}">
      </a></li>
      {{#each header.menuItems}}
      <li class="menu-item"><a class="menu-link" href="{{this.url}}">
        <span class="menu-title">{{this.title}}</span>
        <img src="{{this.image.url}}" alt="{{this.image.title}}"/>
        <span "menu-subtitle">{{this.subtitle}}</span>
      </a></li>
      {{/each}}
    </ul>
  </nav>
  <aside>
    <ul class="menu-externals">
      {{#each header.menuExternals}}
      <li class="menu-external"><a href="{{this.url}}">
        <img src="{{this.image.url}}" alt="{{this.image.title}}">
      </a></li>
      {{/each}}
    </ul>
  </aside>
</header>
