<section class="contact">
  <h3 class="heading contact-title">
    {{contact.title}}
  </h3>
  <form class="contact-form" method="post" action="">
    <div class="contact-row">
      <div class="input-wrapper contact-name">
        <img class="input-image" src="{{contact.name.image.url}}" alt="{{contact.name.image.title}}"/>
        <input class="input" type="text" placeholder="{{contact.name.placeholder}}"/>
      </div>
      <div class="input-wrapper contact-object">
        <img class="input-image" src="{{contact.object.image.url}}" alt="{{contact.object.image.title}}"/>
        <input class="input" type="text" placeholder="{{contact.object.placeholder}}"/>
      </div>
    </div>
    <div class="input-wrapper contact-message">
      <img class="input-image" src="{{contact.message.image.url}}" alt="{{contact.message.image.title}}"/>
      <textarea class="input" name="name" rows="5" cols="80" type="text" placeholder="{{contact.message.placeholder}}"></textarea>
    </div>
    <button class="button contact-button" type="submit">{{contact.button}}</button>
  </form>
</section>