{#
    view/components/home/index.html.twig
#}

{% extends "@STARTERPack/layout.html.twig" %}

{% block title %}{{parent()}} - Home{% endblock title %}

{% block header %}
    Header Home
    {#{% include "./shared/header/index.html.twig" %}#}
{% endblock %}

{% block body %}

    <h2>Home Page</h2>

    External Data :<br>
    foo : {{ foo }} <br>
    Data JSON : {{ titleSeo }} - {{ resource.paths[0] }} <br>
    Default JSON : {{ component_data[0].article }}<br>
    Dump: {{ dump(env_serv) }} <br>
    Dump: {{ dump(stuff) }}<br>

    

    {% if env_serv == 'production' %}
        Env Prod
    {% else %}
        Env Dev 
    {% endif %}

    <div class="testHomeHome">testHomeHome</div>

    <img src="./assets/images/sample.jpg" alt="" />

    {#{% include "./shared/article/index.html.twig" %}#}

{% endblock %}

{% block javascript %}
    {# TODO: here it's work but it would be cool to manage it from shared than from component #}
    {#<script src="/assets/scripts/head.js"></script>#}
{% endblock %}
