{#
    view/components/home/index.html.twig
#}

{% extends "@STARTERPack/layout.html.twig" %}

{% block title %}{{parent()}} - Home{% endblock title %}

{% block header %}
    Header Home
    {% include "./shared/header/index.html.twig" %}
{% endblock %}

{% block body %}

    <h2>Home Page</h2>

    External Data :
    foo : {{ foo }} <br>
    Stuff Array : {{ stuff }} <br>
    full data: {{ pageData.resource.paths[0] }} <br>
    Dump: {{ dump(stuff) }} <br>

    <div class="testHome">testHome ffsdfsop</div>

    <img src="./assets/images/sample.jpg" alt="" />

    {#{% include "./shared/article/index.html.twig" %}#}

{% endblock %}

{% block javascript %}
    {# TODO: here it's work but it would be cool to manage it from shared than from component #}
    {#<script src="/assets/scripts/head.js"></script>#}
{% endblock %}
