{#
    view/components/home/index.html.twig
#}

{% extends "@STARTERPack/layout.html.twig" %}

{% block title %}{{parent()}} - Home{% endblock title %}

{% block header %}
    Header Home
    {% include "./shared/header/index.html.twig" %}
{% endblock %}

{% block body %}

    <h2>Home Component</h2>

    <h3> Test Loading Var </h3>
    External Data :<br>
    Global Data JSON : {{ titleSeo }} - {{ resource.paths[0] }} <br>
    Fixture Default JSON :
    <ul>
        <li>{{ component_data[0].id }}</li>
        <li>{{ component_data[0].email }}</li>
        <li>{{ component_data[0].article }}</li>
    </ul>
    Dump ENV: {{ dump(env_serv) }} <br>
    Data From Object.assign in routing : <br>
    Foo : {{ foo }} <br>
    Dump stuff Array : {{ dump(stuff) }}<br>

    {% if env_serv == 'production' %}
        Env Prod
    {% else %}
        Env Dev 
    {% endif %}

    <div class="classFromHomeComponent">classFromHomeComponent</div>

    <div>
        This Picture are loaded from global Assets <br>
        <img src="./assets/images/sample.jpg" alt="" />
    </div>

    {% include "./shared/article/index.html.twig" %}

{% endblock %}

{% block javascript %}
    {# TODO: here it's work but it would be cool to manage it from shared than from component #}
    {#<script src="/assets/scripts/head.js"></script>#}
{% endblock %}
