<footer class="footer">
  <p class="footer-text">{{footer.text}}</p>
  <p class="footer-copyright">{{footer.copyright}}</p>
  <div class="action footer-action" data-goto-page="home">
    <button href="{{footer.button.url}}" class="action-button footer-button">
      <img src="{{footer.button.image.url}}" alt="{{footer.button.image.title}}"/>
    </button>
    <div class="footer-line"></div>
  </div>
</footer>
