<section class="home">
  <h1>
    <div class="home-title">{{home.title}}</div>
    <div class="home-subtitle">{{home.subtitle}}</div>
  </h1>
  <ul class="home-languages">
  {{#each home.languages}}
    <li class="home-language selected">
      <a href="{{this.url}}">{{this.title}}</a>
    </li>
  {{/each}}
  </ul>
  <div class="home-action">
    <a class="home-button" href="{{home.button.url}}">
      {{home.button.title}}
    </a>
  </div>
</section>
