<section class="home" data-page="home" data-parallax-frame>
    <div class="home-shade">
        <h1>
            <div class="home-title">{{{home.title}}}</div>
            <div class="home-subtitle">{{home.subtitle}}</div>
        </h1>
        <ul class="home-languages">
            {{#each home.languages}}
                <li class="home-language{{#compare ../home.currentLanguage this.title}} isSelected{{/compare}}">
                    <a href="{{this.url}}">{{this.title}}</a>
                </li>
            {{/each}}
        </ul>
        <div class="action">
            <button class="action-button" data-goto-page="{{home.button.page}}">
                {{home.button.title}}
            </button>
        </div>
    </div>
</section>
